:root {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 15vw;
    background-color: white;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 33px;
    height: 29px;
    margin-right: 11px;
}

.logo h2 {
    font-weight: bold;
    text-align: center;
}

.box1 {
    /* border: 2px solid red; */
    align-items: center;
}

.navbar {
    padding: 0;
}

.navbar .navbar-item {
    margin: 6px 0;
    list-style: none;
}

.navbar .navbar-item .navbar-link {
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 12px 13px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .navbar-item .navbar-link.activebar,
.navbar .navbar-item .navbar-link:hover {
    background-color: #d5f378;
    border-radius: 10px;
    color: #000;
}

.navbar .navbar-item .navbar-link i {
    margin-right: 10px;
    position: initial;
}

.profile-section {
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.profile img {
    border-radius: 50%;
    width: 53px;
    height: 53px;
}
.profile-info{
    margin-top: 10px;
}
.profile-info h4 {
    margin: 0;
    font-size: 1rem;
}

.profile-info p {
    margin: 0;
    font-size: smaller;
    color: gray;
}

.logout {
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
    padding:5px 8px;
    margin-bottom: 2.5rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logout i {
    position: initial;
    margin-right: 8px;
}

.logout:hover {
    background-color: #d8f8c4;
    color: #000;
    border-radius: 0.3125rem;
}

.content {
    background-color: #f4f4f4;
    padding: 2.5%;
    margin-left: 17vw;
    width: calc(100vw - 17vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
}

.header-left h2 {
    margin: 0;
    font-size: 1.5rem;
}

.header-left p {
    margin: 0;
    color: gray;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .btnbell {
    border:1px solid black;
    border-radius: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnbell {
    font-size: 1rem;
    margin-bottom: 6px;
   
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    color: rgb(1, 1, 1);
    cursor: pointer;
}

.header-right .profile {
    display: flex;
    align-items: center;
}

.header-right .profile img {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    margin-right: 8px;
}

.header-right .profile-info {
    text-align: center;
}

.header-right .profile-info h4 {
    margin: 0;
    font-size: 1rem;
}

.header-right .profile-info p {
    margin: 0;
    font-size: 0.875rem;
    color: gray;
}

.maincontent {
    margin-top: 31px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
}

.carddeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.cardcontent {
    border: none;
    /* border: 2px solid red; */
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 15vw;
}

.cardbody {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.cardtitle {
    font-size: 1rem;
}

.cardtext {
    font-size: large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 34px;
}

.textpara {
    font-size: 0.875rem;
    text-align: center;
}

.sampletext {
    text-align: left;
}

.iconbg {
    background-color: lightgray;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topflex {
    display: flex;
    align-items: center;
    height: 6px;
}

.fa,
.fas {
    position: relative;
    top: 1px;
}

.btn {
    font-size: 1rem;
    margin-top: 32px;
    padding: 8px 18px;
    width: 142px;
    height: 34px;
    font-size: small;
    font-weight: 600;
    background-color: #d5f378;
    border: none;
    border-radius: 8px;
    color: rgb(14, 13, 13);
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}

.bglight-purple,
.bglight-blue,
.bglight-green {
    height: 100px;
}

.bglight-purple {
    background-color: #cdc3ff;
}

.bglight-blue {
    background-color:#aac9ff;
}

.bglight-green {
    background-color: #92e3b8;
}

.bglight-teal {
    background-color:#1f9aa2 ;
    height: 181px;
    color: white;
}

.widecard {
    width: 250px;
}

.container-box1 {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
}
.fit-box
{
    position: relative;
    top:-15% ;
}
.chart-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex: 1;
    min-width: 30vw;
}

.chartheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chartbtn {
    font-size: 1rem;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #d5f378;;
    color: rgb(14, 14, 14);
    cursor: pointer;
    width: 76px;
    height: 27px;
}

.chart-content {
    width: 100%;
    height: 260px;
    margin-top: 16px;
}

.analysis-card {
    padding: 16px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 4 7px -1.5px  rgba(0, 0, 0, 0.1);
    min-width: 18vw
}

.analysis-title {
    margin-top: 14px;
    font-size:larger;
    font-weight: 600;
    margin-bottom: 0;
}

.analysis-description {
    color: #a2a0a0;
    font-weight: 500;
    font-size: small;
    margin-top: 4px;
}

.analysis-item {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    height: 26px;
    cursor: pointer;
    margin-bottom: 4px;
}

.analysis-item:hover {
    background-color: #f0f0f0;
}

.analysis-icon {
    font-size: 14px;
    margin-right: 8px;
}

.analysis-text {
    font-size: 1rem;
}

.analysis-footer {
    color: #666;
    margin-left: 6px;
}

.analysis-footer-icon {
    font-size: 0.875rem;
    margin-right: 8px;
}

.carddescription {
    display: flex;
    align-items: center;
}

.circular-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: -2px;
}

.carddescription p {
    margin-left: 8px;
    font-size: 1rem;

}

.time-details {
    width: 125px;
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 4px;
    margin-left: 36px;
    border-radius: 8px;

}
.time-details span{
    font-size: x-small;
    background-color: rgba(211, 211, 211, 0.851);
    border-radius: 7px;

}

.meeting-card {
    margin-top: 16px;
    width: 17vw;
    background-color: white;
    height: 219px;
    border: none;
    margin-left: 13px;
    /* border: 2px solid red; */
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 16px 8px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7%;
}
.meeting-cardbody
{
    display: flex;
    flex-direction: column;
    padding: 2px 7px;
}
.meet-topflex
{
    display: flex;
    align-items: center;
    height: 31px;  
}
.meet-carddescription
{ display: flex;
    align-items: center;
    margin-top: 18px;

}
.meet-btn
{
  
    color: white;
    margin-top: 32px;
    padding: 8px 18px;
    width: 160px;
    border: none;
    border-radius: 8px;
    background-color: #0d0d0d;
    /* color: rgb(14, 13, 13); */
    cursor: pointer;
}
/* ------- */
.container-box2 {
    display: flex;
    /* gap: 16px; */
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.membercard {
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 11px;
    display: flex;
    flex-direction: column;
    background: white;
    /* flex: 1; */
    min-width: 17vw;
    height: 338px;
    position: relative;
    top: -12%;
}

.member-description {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.memberbar {
    background: #f4f5f7;
    height: 46px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 8px;
}

.member-details {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    flex-grow: 1;
}

.member-details p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.member-details span {
    font-size: 12px;
    margin: 1px;
}

.memberimg {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    /* overflow: hidden; */
}

.memberimg img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-angle-right {
    margin-left: auto;
}

.card-button {
    margin-top: 1rem;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 8px;
    background-color: #b0c8fa;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #9db7ee;
}

.storecard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 53vw;
    background: white;
    border-radius: 19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    bottom: 12%;
}

.storecard-header {
   display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 12px;
}

.storecard-header h2 {
    margin: 0;
}

.storecard-header .tablebtn {
    padding: 8px 16px;
    background-color: #c9f616;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.storecard-header .tablebtn:hover {
    background-color: #a0cc13;
}

.storecard-table {
    width: 100%;
    border-collapse: collapse;
}
.storecard-table thead th
{
    padding: 25px 16px;
text-align: left;
color: lightgray;
}

.storecard-table td {
    padding: 13px;
    text-align: left;
    color: black;
}

.storecard-table td {
    font-weight: bold;
    font-size: small;
}

.storecard-table th {
    border-bottom: 2px solid #ddd;
    color: gray;
}

.storecard-table tbody tr:last-child {
    border-bottom: none;
}

@media (max-width: 1200px) {
    .carddeck {
        flex-direction: column;
        gap: 16px;
    }

    .content {
        width: calc(100vw - 17vw);
    }

    .container-box1,
    .container-box2 {
        flex-direction: column;
    }

    .chart-container,
    .analysis-card,
    .storecard-container,
    .membercard {
        width: 100%;
    }

    .meeting-card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 20vw;
    }

    .content {
        margin-left: 20vw;
        width: calc(100vw - 20vw);
    }

    .header-left h2 {
        font-size: 1.25rem;
    }

    .carddeck {
        flex-direction: column;
        gap: 16px;
    }

    .container-box1,
    .container-box2 {
        flex-direction: column;
    }

    .chart-container,
    .analysis-card,
    .storecard-container,
    .membercard {
        width: 100%;
    }

    .meeting-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 30vw;
    }

    .content {
        margin-left: 30vw;
        width: calc(100vw - 30vw);
    }

    .header-left h2 {
        font-size: 1rem;
    }

    .carddeck {
        flex-direction: column;
        gap: 16px;
    }

    .container-box1,
    .container-box2 {
        flex-direction: column;
    }

    .chart-container,
    .analysis-card,
    .storecard-container,
    .membercard {
        width: 100%;
    }

    .meeting-card {
        width: 100%;
    }
}

